/**
 * Color codes for shapes
*/
$color-primary: #4285F4;
$color-accent: rgb(221, 221, 221);
$color-error: #f85242;
$color-bg: #ffffff;
$color-bg-dark: #e7e7e7;
$color-bg-darker: #181818;
$color-bg-darkest: #000000;

/**
 * Color codes for regular fonts
*/
$color-font-body: rgba(0,0,0,0.94);
$color-font-body-light:rgba(26, 26, 32, 0.33);
